
/* Core Styles */

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: #17252a;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  font-size: larger;
}

img {
  width: 200px;
  height: 250px;
  padding: 10px;
  margin-top: 10px;
}

#wk {
  margin-left: 10px;
}

#rong {
  margin-right: 10px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  background: #17252a;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

/* Header Showcase */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position:absolute;
  background: #333
    url("../img/header.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;

}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* Section A */

#section-a {
  background: #def2f1;
  color: #333;
  padding-bottom: 2em;
}

/* Section B */

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: rgb(223, 224, 224);
  color: #000;
}

.card-content {
  padding: 1.5em;
}

/* Section C */

#section-c {
  background: #def2f1;
  color: #333;
  padding: 2em;
}

/* Section D / Boxes */

#section-d .box {
  padding: 2em;
  color: #def2f1;
  background: #2b7a78;
}

#section-d .box:first-child {
  background: #14213D;
}

/* Footer */

#main-footer {
  padding: 2em;
  background: #17252a;
  color: #def2f1;
  text-align: center;
  font-weight: bold;
}

#main-footer a {
  color: #3aafa9;
  text-decoration: none;
}

/* Media Queries */

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}

h3 a{
    text-decoration: none;
    color: #fff;
    background: rgb(23, 37, 42, 1);
    border-radius: 15px;
    padding: 15px 30px;
}

h3 a:hover{
    background: rgb(23, 37, 42, .7);
}

.content-text{
    display: flex;
}

p a{
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    background: #2b7a78;
    padding:20px;
    border-radius: 15px;
}

p a:hover{
    color: #eee;
    background: #24918b;
}

#contact{
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

ol{
    list-style-type: none;
}

section > .content-wrap > .review{
  display: flex;
  font-size: larger;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap:20px;
}

#review-3{
  margin-right: 80px;
}

